
    <footer class="footer">

        <div class="enlaces">
            <a href="/">Inicio</a>
            <a href="/sobremi">Sobre mi</a>
            <a href="/portafolio">Portafolio</a>
            <a href="/servicios">Servicios</a>
            <a href="/contacto">Contacto</a>
        </div>

        <p>Todos los derechos reservados. José Mario Lucas Contreras 2023</p>
    </footer>