<div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="/">Inicio</a>
            <a href="/sobremi">Sobre Mi</a>
            <a href="/portafolio">Portafolio</a>
            <a href="/servicios">Servicios</a>
            <a href="/contacto">Contácto</a>
        </nav>
</div>