<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Mis Servicios</h2>

        <section class="proyectos">
            <div class="proyecto">
                <img src="/IMG/img001.png" alt="Proyecto 1">
                <h2>Proyecto 1</h2>
                <p>Desarrollo de una aplicación que resuelve derivadas en lenguaje java</p>
                <a href="https://drive.google.com/file/d/1pbXbwnFtPMS1pn4dM-zeqBs1GcxmQ6kK/view?usp=sharing">Link del video</a>
            </div>
            <div class="proyecto">
                <img src="/IMG/OS002.png" alt="Proyecto 2">
                <h2>Proyecto 2</h2>
                <p>Aplicación C# que presenta toda la información de un ordenador.</p>
                <a href="https://drive.google.com/file/d/1qvoBojPsCBDOY4Z-J-_a3pJVLW1aeZRg/view?usp=drive_link">Link del video</a>
            </div>
            <div class="proyecto">
                <img src="/IMG/APP003.jpg" alt="Proyecto 3">
                <h2>Proyecto 3</h2>
                <p>Desarrollo de un app en lenguaje de java para el aprendizaje de la lengua de señas Guatemalteca</p>
                <a href="https://drive.google.com/file/d/1hh5pm12rbr-5Z0jKB7Q3kjXaTC-v_lkp/view?usp=sharing">Link del video</a>
            </div>
            <div class="proyecto">
                <img src="/IMG/analizadorlexico.png" alt="Proyecto 4">
                <h2>Proyecto 4</h2>
                <p>Desarrollo de una aplicación:  analizador léxico en java </p>
                <a href="https://drive.google.com/file/d/10zCvejkaYXEcn3_jyWUypCIY0YT6_eRg/view?usp=sharing">Link del video</a>
            </div>
            <div class="proyecto">
                <img src="/IMG/analizadorsintact.png" alt="Proyecto 4">
                <h2>Proyecto 5</h2>
                <p>Desarrollo de una aplicación de un analizador léxico, sintáctico en java:.</p>
                <a href="https://drive.google.com/file/d/1KylRHu0pFO3txkoeO5ARsAYFnO0ZQGDX/view?usp=sharing">Link del video</a>
            </div>
            <div class="proyecto">
                <img src="/IMG/aplicacionC.png" alt="Proyecto 4">
                <h2>Proyecto 6</h2>
                <p>Mini proyecto en base de datos desarrollando CRUDE, Procedimientos y vistas particionadas haciendo uso de .NET.</p>
                <a href="https://drive.google.com/file/d/1mBhCbB0zbiyAy4GL3qO3rcWegnCAI7zg/view?usp=sharing">Link del video</a>
            </div>
            <!-- Agregar más proyectos aquí -->
        </section>

    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>