<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/VERSION2/public/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/VERSION2/public/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/VERSION2/public/CSS/styles.css" as="style">
    <link rel="stylesheet" href="/VERSION2/public/CSS/styles.css"">
</head>
<body>
    <header>
        <h1 class="titulo"><img src="/VERSION2/public/IMG/Logo.png" alt=""></h1>
    </header>

    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="index.html">Inicio</a>
            <a href="sobremi.html">Sobre Mi</a>
            <a href="portafolio.html">Portafolio</a>
            <a href="servicios.html">Servicios</a>
            <a href="contacto.html">Contácto</a>
        </nav>
    </div>
    
    <section class="hero">
        <div class="contenido-hero">
            <h2>Diseño y Desarrollo <span> José Mario Lucas Contreras</span></h2> 
        </div> 
    </section>
    
    <main class="contenedor sombra">
     
        <section>
            <h2>Contacto</h2>

            <form class="formulario">
                <fieldset>
                    <legend>Contactános llenando todos los campos</legend>

                    <div class="contenedor-campos">
                        <div class="campo">
                            <label>Nombre</label>
                            <input class="input-text" type="text" placeholder="Tu Nombre">
                        </div>

                        <div class="campo">
                            <label>Teléfono</label>
                            <input class="input-text" type="tel" placeholder="Tu Teléfono">
                        </div>

                        <div class="campo">
                            <label>Correo</label>
                            <input class="input-text" type="email" placeholder="Tu Email">
                        </div>
                
                        <div class="campo">
                            <label>Mensaje</label>
                            <textarea class="input-text"></textarea>
                        </div>
                    </div> <!-- .contenedor-campos -->

                    <div class="alinear-derecha flex">
                        <input class="boton w-sm-100" type="submit" value="Enviar">
                    </div>
                </fieldset>
            </form>
        </section>

    </main>
    <br>
    
    <footer class="footer">

        <div class="enlaces">
            <a href="index.html">Inicio</a>
            <a href="sobre mi.html">Sobre mi</a>
            <a href="portafolio.html">Portafolio</a>
            <a href="servicios.html">Servicios</a>
            <a href="contacto.html">Contacto</a>
        </div>

        <p>Todos los derechos reservados. José Mario Lucas Contreras 2023</p>
    </footer>




</body>
</html>